.content {
    border: 1px solid #ccc;
    width: fit-content;
    padding: 25px;
    margin: 2vh auto;
    min-width: 20vw;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0.2vw 0.2vw 0.2vw #ccc;
    text-align: center;
}
    .content form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 75%;
        margin-left: 2%;
    }
    .content input {
        height: 1.5em;
        font-size: 1.1em;
        width: 100%;
        margin-bottom: 1em;
    }
    .content label {
        margin-top: 0.5em;
        font-weight: bold;
        text-align: left;
    }