.content {
    border: 1px solid #ccc;
    width: min-content;
    padding: 20px;
    margin: 25px auto 0;
    min-width: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #cccccc;    
}
    .content h1,
    .content p {
        text-align: center;
    }
    .content input {
        width: 200px;
        height: 25px;
        font-size: 24px;
    }
