.box.view__info, 
.box.create__info, 
.box.edit__info {
    width: 350px;
}
.box.view__invoke,
.box.edit__invoke {
    width: 400px;
}
.hover-hide,
*:hover > .hover-show {
    display: block !important;
}
.hover-show,
*:hover > .hover-hide {
    display: none !important;
}

