.box.view__witch-info, 
.box.create__witch, 
.box.edit__witch-info {
    width: 350px;
}
.box.view__witch-invoke,
.box.edit__witch-invoke {
    width: 400px;
}
.hover-hide,
*:hover > .hover-show {
    display: block !important;
}
.hover-show,
*:hover > .hover-hide {
    display: none !important;
}

