.content__data {
    cursor: pointer;
    margin-bottom: 5px;
}
.content__data-edit {
    display: none;
    margin-bottom: 5px;
}
    #witch__data {
        width: 100%;
        resize: none;
    }
.box-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 15px 15px 5px 0;
    padding: 10px;
    box-shadow: 5px 5px 5px #ccc;
}
    .box h2 {
        font-size: 1.1em;
        margin-top: 5px;
    }
    .box__actions {
        margin: 20px 0px 10px 0;
        text-align: right;
    }
    .box table th {
        min-width: 100px;
        background-color: #eee;
        padding: 3px;
    }
    .box table td {
        padding: 5px 10px;
    }
        .box table td a em {
            font-size: 0.9em;        
        }
        .box table td .text-center {
            display: flex;
            justify-content: center;
        }
        .box table td.icons-container {
            display: flex;
            justify-content: space-around;
            
        }
        .box table td input {
            width: 60px;
        }
    .box table td.label {
        min-width: 100px;
        background-color: #eee;
        font-weight: bold;
        text-align: center;
        padding: 5px;        
    }
    .box .box__actions{
        margin: 20px 0px 10px 0;
        text-align: right;
    }
    .box label {
        margin-top: 1em;
        font-weight: bold;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .box label em {
        font-weight: normal;
        font-size: 0.9em;
        text-align: right;
    }    
    .box input, 
    .box textarea {
        width: 100%;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
    }
    .box textarea {
        height: 100px;
        resize: none;
    }
    .box input[type=checkbox], 
    .box input[type=radio] {
        width: auto;
        cursor: pointer;
    } 
    
    h3.box-info {
        display: flex;
        align-items: center;
        line-height: 24px;
    }
        h3.box-info img {
            max-height: 24px;
            margin-right: 8px;
            max-width: 24px;
        }
    