.box.view__witch-info, 
.box.create__witch{ 
    width: 350px;
}
.box.edit__witch-menu-info {
    max-width: 664px;
    border: 0;
    box-shadow: none;
    padding: 0;
}
#witch-name {
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}
.box.view__witch-invoke,
.box.edit__witch-invoke {
    width: 400px;
}
.hover-hide,
*:hover > .hover-show {
    display: block !important;
}
.hover-show,
*:hover > .hover-hide {
    display: none !important;
}
.url-input {
    display: flex;
    align-items: center;
    margin-top: 4px;
}
    .url-input-prefix {
        margin-right: 4px;
    }
